/* General */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root {
  --main-color: #007bff ;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --rating-color: #ffc908;
}
body {
  font-family: "Encode Sans Expanded", sans-serif;
  background-image: url(./assets/light-patten.webp);
  background-position: center;
  overflow-x: hidden;
}
.rating-color {
  color: var(--rating-color);
}
.font-sm {
  font-size: 13px;
}
.font-md {
  font-size: 14px;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-green {
  background-color: var(--main-color);
}
.bg-green[disabled] {
  background-color: var(--main-color);
}
.brd-btn,
.brd-btn:hover {
  border: 1px solid var(--main-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
img {
  object-fit: cover;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.form-control {
  border: 1px solid rgba(0, 37, 219,.4196078431372547);
}
.form-control:focus {
  box-shadow: 0 0 5px 0 rgba(0, 37, 219,.30196078431372547);
}
/* Navbar */
nav {
  box-shadow: var(--shadow);
}
nav .nav-logo {
  width: 200px;
  height: 60px;
}
.navbar-toggler:focus {
  border: 0.5px solid rgba(0, 37, 219,.30196078431372547);
  box-shadow: 0 0 5px 0 rgba(0, 37, 219,.30196078431372547);
}
.nav-item .nav-counter {
  position: absolute;
  bottom: 18px;
  left: 18px;
  background-color: #007bff;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}
nav .log-out , 
nav .log-out:hover  {
  color: #fff;
  background-color: #ff4646;
  border-radius: 2px;
}
.nav-link.home {
  color: #007bff !important;
  font-weight: 600;
}
.nav-link.active {
  color: #007bff !important;
  font-weight: 600;
}
.nav-link.toggle , 
.nav-link.toggle:hover i{
  color:  rgba(33, 37, 41, 0.75);;
}
/* Products */
.product {
  border: solid 0.3px rgba(0, 123, 255,0.3);
  border-radius: 8px;
  background-color: #fff;
  transition-duration: 0.3s;
}
.product:hover{
  box-shadow: 0px 0px 15px rgba(0, 123, 255,0.6) !important;
  transform: scale(1.03);
}
.product-title, .product-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.product-search {
  background: linear-gradient(100deg,rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border:1px solid rgba(255, 255, 255, 0.30);
  border-radius: 10px;
  backdrop-filter: blur(35px);
}
.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
/* Inputs */
.form-control {
  border: solid 0.3px rgba(0, 123, 255,0.3);
}
.form-control:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255,0.6); 
  outline: none; 
  border: 1px solid transparent;
}
/* profile */
.user {
  color: #ff4646;
}
/* Heart */
span.heart {
  width: 25px;
  height: 25px;
  top: -2px; 
  right: -6px; 
  background-color: #3b92ff;
  font-size: 0.8rem; 
  top: -0.7em; 
  right: -0.6em;
}
/* Cart */
span.cart {
  width: 25px;
  height: 25px;
  top: -1px; 
  right: -10px; 
  background-color: #3b92ff;
  font-size: 0.8rem; 
  top: -0.6em; 
  right: -0.6em;
}
/* Wish List */
.empty-wishlist {
  width: 400px;
  height: 400px;
}
/* Footer */
.footer-image img {
  width: 75px;
  height: 40px;
}
.footer-icon a {
  font-size: 20px;
  color: white;
}
.footer-rights a {
  color: var(--main-color);
}

/* Modals */
.modal-fade {
  top: 28%;
}
/* Network */
.network-mood  {
  background-color: rgba(0, 123, 255);
  color: #fff;
  padding: 10px 18px;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: fixed; 
  top: 16%; 
  right: 10px; 
  border-radius: 3px;
}
/* Not-Found */
.error-image {
  width: 500px;
  height: 300px;
}
.not-found .fa-magnifying-glass {
  right: -70px;
  top: 25px;
  height: 50px;
  width: 180px;
  font-size: 20px;
  color: var(--main-color);
}
.not-found .back a {
  color: var(--main-color);
}
/* Toaster */
.custom-toaster {
  font-size: 12px;
  font-weight: bold;
}